body, html{
    font-size: 1.1em;
    background-color: #fff1e5;
    color: black;
}
div#footer {font-size: 0.7em;}

h1, h2, h3 {
    text-align: center;
}

div.item {
    background-color: #eee1c4;
    margin: 40px;
    padding: 40px;
    border-radius: 25px;
}

div.item img {
    max-width: 99%;
}

img.appstorebutton {
    height: 117px;
}

@media (min-width: 1000px) {
    img.appstorebutton {
	height: 60px;
    }

    div.item {
	width: 50%;
	margin-left: 25%;
    }
    
}
